#Import

In [1]:
! pip install -q kaggle
from google.colab import files
files.upload()
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json

! kaggle datasets list
! pip install --upgrade --force-reinstall --no-deps kaggle

!kaggle competitions download -c competitive-data-science-predict-future-sales -p 'dataset'

Saving kaggle.json to kaggle.json
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
ref                                                         title                                              size  lastUpdated          downloadCount
----------------------------------------------------------  ------------------------------------------------  -----  -------------------  -------------
gpreda/reddit-vaccine-myths                                 Reddit Vaccine Myths                              235KB  2021-09-18 20:49:48          12688
crowww/a-large-scale-fish-dataset                           A Large Scale Fish Dataset                          3GB  2021-04-28 17:03:01           7689
imsparsh/musicnet-dataset                                   MusicNet Dataset                                   22GB  2021-02-18 14:12:19           3286
dhruvildave/wikibooks-dataset                               Wikibooks Dataset                                   2GB  2021-07-03 18:37:20           2978
fatiimaezzahra/famous-iconic-women                          Famous Iconic Women                               838MB  2021-02-28 14:56:00           1438
nickuzmenkov/nih-chest-xrays-tfrecords                      NIH Chest X-rays TFRecords                         11GB  2021-03-09 04:49:23           1200
promptcloud/careerbuilder-job-listing-2020                  Careerbuilder Job Listing 2020                     42MB  2021-03-05 06:59:52           1987
mathurinache/twitter-edge-nodes                             Twitter Edge Nodes                                342MB  2021-03-08 06:43:04            975
mathurinache/the-lj-speech-dataset                          The LJ Speech Dataset                               3GB  2021-02-15 09:19:54            356
alsgroup/end-als                                            End ALS Kaggle Challenge                           12GB  2021-04-08 12:16:37            911
simiotic/github-code-snippets                               GitHub Code Snippets                                7GB  2021-03-03 11:34:39            349
coloradokb/dandelionimages                                  DandelionImages                                     4GB  2021-02-19 20:03:47            843
imsparsh/accentdb-core-extended                             AccentDB - Core & Extended                          6GB  2021-02-17 14:22:54            142
stuartjames/lights                                          LightS: Light Specularity Dataset                  18GB  2021-02-18 14:32:26            145
nickuzmenkov/ranzcr-clip-kfold-tfrecords                    RANZCR CLiP KFold TFRecords                         2GB  2021-02-21 13:29:51            134
landrykezebou/lvzhdr-tone-mapping-benchmark-dataset-tmonet  LVZ-HDR Tone Mapping Benchmark Dataset (TMO-Net)   24GB  2021-03-01 05:03:40            210
datasnaek/youtube-new                                       Trending YouTube Video Statistics                 201MB  2019-06-03 00:56:47         152320
zynicide/wine-reviews                                       Wine Reviews                                       51MB  2017-11-27 17:08:04         144286
residentmario/ramen-ratings                                 Ramen Ratings                                      40KB  2018-01-11 16:04:39          27257
datasnaek/chess                                             Chess Game Dataset (Lichess)                        3MB  2017-09-04 03:09:09          22149
Collecting kaggle
  Downloading kaggle-1.5.12.tar.gz (58 kB)
     |████████████████████████████████| 58 kB 4.1 MB/s
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py) ... done
  Created wheel for kaggle: filename=kaggle-1.5.12-py3-none-any.whl size=73051 sha256=d276d2f16fd074825b78d5171916c5e46af7c2c460a0e32b49cb2ad6be995d5b
  Stored in directory: /root/.cache/pip/wheels/62/d6/58/5853130f941e75b2177d281eb7e44b4a98ed46dd155f556dc5
Successfully built kaggle
Installing collected packages: kaggle
  Attempting uninstall: kaggle
    Found existing installation: kaggle 1.5.12
    Uninstalling kaggle-1.5.12:
      Successfully uninstalled kaggle-1.5.12
Successfully installed kaggle-1.5.12
Downloading competitive-data-science-predict-future-sales.zip to dataset
 60% 9.00M/15.1M [00:00<00:00, 9.69MB/s]
100% 15.1M/15.1M [00:00<00:00, 17.7MB/s]

In [2]:
cd dataset

/content/dataset

In [3]:
! unzip competitive-data-science-predict-future-sales.zip

Archive:  competitive-data-science-predict-future-sales.zip
  inflating: item_categories.csv
  inflating: items.csv
  inflating: sales_train.csv
  inflating: sample_submission.csv
  inflating: shops.csv
  inflating: test.csv

In [57]:
import pandas as pd


item_categories = pd.read_csv('item_categories.csv')
items = pd.read_csv('items.csv')
sales_train = pd.read_csv('sales_train.csv')
shops = pd.read_csv('shops.csv')
test = pd.read_csv('test.csv')

#Feature engineering

date column - change string into timestamp

In [60]:
type(sales_train['date'][0])

str

In [61]:
from datetime import datetime
  
def timestamp(x):
    return datetime.strptime(x, "%d.%m.%Y")

In [62]:
sales_train['date'] = sales_train['date'].apply(timestamp)

In [63]:
type(sales_train['date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [64]:
sales_train

              date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0       2013-01-02               0       59    22154      999.00           1.0
1       2013-01-03               0       25     2552      899.00           1.0
2       2013-01-05               0       25     2552      899.00          -1.0
3       2013-01-06               0       25     2554     1709.05           1.0
4       2013-01-15               0       25     2555     1099.00           1.0
...            ...             ...      ...      ...         ...           ...
2935844 2015-10-10              33       25     7409      299.00           1.0
2935845 2015-10-09              33       25     7460      299.00           1.0
2935846 2015-10-14              33       25     7459      349.00           1.0
2935847 2015-10-22              33       25     7440      299.00           1.0
2935848 2015-10-03              33       25     7460      299.00           1.0

[2935849 rows x 6 columns]

add item_category column

In [65]:
items.drop('item_name',1,inplace = True)
items

       item_id  item_category_id
0            0                40
1            1                76
2            2                40
3            3                40
4            4                40
...        ...               ...
22165    22165                31
22166    22166                54
22167    22167                49
22168    22168                62
22169    22169                69

[22170 rows x 2 columns]

sort by date

In [70]:
sales_train.sort_values(by = 'date', inplace = True)
sales_train.reset_index(drop = True, inplace = True)
sales_train

              date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0       2013-01-01               0       18     5823      2500.0           1.0
1       2013-01-01               0       19    13071       499.0           1.0
2       2013-01-01               0       38     3321      1999.0           1.0
3       2013-01-01               0       54    12370       149.0           1.0
4       2013-01-01               0        7    10887       199.0           1.0
...            ...             ...      ...      ...         ...           ...
2935844 2015-10-31              33        5    21369       169.0           1.0
2935845 2015-10-31              33       41    21440       149.0           1.0
2935846 2015-10-31              33       41    20475      1349.0           2.0
2935847 2015-10-31              33        6     7327       349.0           1.0
2935848 2015-10-31              33       24     3042      3199.0           1.0

[2935849 rows x 6 columns]

reorganize columns

In [73]:
sales_train = sales_train[['shop_id','item_id','date','date_block_num','item_price','item_cnt_day']]
sales_train.reset_index(drop = True, inplace = True)
sales_train

         shop_id  item_id       date  date_block_num  item_price  item_cnt_day
0             18     5823 2013-01-01               0      2500.0           1.0
1             19    13071 2013-01-01               0       499.0           1.0
2             38     3321 2013-01-01               0      1999.0           1.0
3             54    12370 2013-01-01               0       149.0           1.0
4              7    10887 2013-01-01               0       199.0           1.0
...          ...      ...        ...             ...         ...           ...
2935844        5    21369 2015-10-31              33       169.0           1.0
2935845       41    21440 2015-10-31              33       149.0           1.0
2935846       41    20475 2015-10-31              33      1349.0           2.0
2935847        6     7327 2015-10-31              33       349.0           1.0
2935848       24     3042 2015-10-31              33      3199.0           1.0

[2935849 rows x 6 columns]

pivot table

In [284]:
dataset = sales_train.pivot_table(index = ['shop_id','item_id'],values = ['item_cnt_day'],columns = ['date_block_num'], fill_value= 0)
dataset.reset_index(inplace = True)
dataset

               shop_id item_id item_cnt_day            ...
date_block_num                            0         1  ...   30   31   32   33
0                    0      30          0.0  3.444444  ...  0.0  0.0  0.0  0.0
1                    0      31          0.0  1.571429  ...  0.0  0.0  0.0  0.0
2                    0      32          1.5  1.428571  ...  0.0  0.0  0.0  0.0
3                    0      33          1.0  1.000000  ...  0.0  0.0  0.0  0.0
4                    0      35          1.0  1.272727  ...  0.0  0.0  0.0  0.0
...                ...     ...          ...       ...  ...  ...  ...  ...  ...
424119              59   22154          1.0  0.000000  ...  0.0  0.0  0.0  0.0
424120              59   22155          0.0  0.000000  ...  0.0  0.0  0.0  0.0
424121              59   22162          0.0  0.000000  ...  0.0  1.0  0.0  0.0
424122              59   22164          0.0  0.000000  ...  1.0  0.0  0.0  0.0
424123              59   22167          0.0  0.000000  ...  0.0  0.0  0.0  0.0

[424124 rows x 36 columns]

merge with test data

In [285]:
test

            ID  shop_id  item_id
0            0        5     5037
1            1        5     5320
2            2        5     5233
3            3        5     5232
4            4        5     5268
...        ...      ...      ...
214195  214195       45    18454
214196  214196       45    16188
214197  214197       45    15757
214198  214198       45    19648
214199  214199       45      969

[214200 rows x 3 columns]

In [286]:
dataset = pd.merge(test, dataset, on = ['shop_id','item_id'], how = 'left')
dataset

/usr/local/lib/python3.7/dist-packages/pandas/core/reshape/merge.py:643: UserWarning:

merging between different levels can give an unintended result (1 levels on the left,2 on the right)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:3889: PerformanceWarning:

dropping on a non-lexsorted multi-index without a level parameter may impact performance.

            ID  shop_id  ...  (item_cnt_day, 32)  (item_cnt_day, 33)
0            0        5  ...                 1.0                 0.0
1            1        5  ...                 NaN                 NaN
2            2        5  ...                 1.0                 1.0
3            3        5  ...                 0.0                 0.0
4            4        5  ...                 NaN                 NaN
...        ...      ...  ...                 ...                 ...
214195  214195       45  ...                 0.0                 1.0
214196  214196       45  ...                 NaN                 NaN
214197  214197       45  ...                 0.0                 0.0
214198  214198       45  ...                 NaN                 NaN
214199  214199       45  ...                 0.0                 0.0

[214200 rows x 37 columns]

fill nan with 0

In [287]:
dataset.fillna(0, inplace = True)
dataset

            ID  shop_id  ...  (item_cnt_day, 32)  (item_cnt_day, 33)
0            0        5  ...                 1.0                 0.0
1            1        5  ...                 0.0                 0.0
2            2        5  ...                 1.0                 1.0
3            3        5  ...                 0.0                 0.0
4            4        5  ...                 0.0                 0.0
...        ...      ...  ...                 ...                 ...
214195  214195       45  ...                 0.0                 1.0
214196  214196       45  ...                 0.0                 0.0
214197  214197       45  ...                 0.0                 0.0
214198  214198       45  ...                 0.0                 0.0
214199  214199       45  ...                 0.0                 0.0

[214200 rows x 37 columns]

drop shop_id and item_id. Since ID corresponds to index we will drop it as well.

In [288]:
dataset.drop(labels = ['shop_id','ID','item_id'],inplace = True,axis = 1)
dataset

        (item_cnt_day, 0)  ...  (item_cnt_day, 33)
0                     0.0  ...                 0.0
1                     0.0  ...                 0.0
2                     0.0  ...                 1.0
3                     0.0  ...                 0.0
4                     0.0  ...                 0.0
...                   ...  ...                 ...
214195                0.0  ...                 1.0
214196                0.0  ...                 0.0
214197                1.0  ...                 0.0
214198                0.0  ...                 0.0
214199                0.0  ...                 0.0

[214200 rows x 34 columns]

# Training the model

train test split

Time series needs same amount of independent varaibles to predict the model as the amount that model was trained on, that's why X_train columns are [0,32] and X_test are [1,33]

In [289]:
X_train = dataset.iloc[:,:-1]
y_train = dataset.iloc[:,-1:]
X_test = dataset.iloc[:,1:]
print(X_train.shape, y_train.shape, X_test.shape)

(214200, 33) (214200, 1) (214200, 33)

In [290]:
X_train

        (item_cnt_day, 0)  ...  (item_cnt_day, 32)
0                     0.0  ...                 1.0
1                     0.0  ...                 0.0
2                     0.0  ...                 1.0
3                     0.0  ...                 0.0
4                     0.0  ...                 0.0
...                   ...  ...                 ...
214195                0.0  ...                 0.0
214196                0.0  ...                 0.0
214197                1.0  ...                 0.0
214198                0.0  ...                 0.0
214199                0.0  ...                 0.0

[214200 rows x 33 columns]

In [291]:
y_train

        (item_cnt_day, 33)
0                      0.0
1                      0.0
2                      1.0
3                      0.0
4                      0.0
...                    ...
214195                 1.0
214196                 0.0
214197                 0.0
214198                 0.0
214199                 0.0

[214200 rows x 1 columns]

In [292]:
X_test

        (item_cnt_day, 1)  ...  (item_cnt_day, 33)
0                     0.0  ...                 0.0
1                     0.0  ...                 0.0
2                     0.0  ...                 1.0
3                     0.0  ...                 0.0
4                     0.0  ...                 0.0
...                   ...  ...                 ...
214195                0.0  ...                 1.0
214196                0.0  ...                 0.0
214197                0.0  ...                 0.0
214198                0.0  ...                 0.0
214199                0.0  ...                 0.0

[214200 rows x 33 columns]

# Model

In [294]:
from sklearn.linear_model import LinearRegression

regression = LinearRegression()

regression.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [295]:
prediction = regression.predict(X_test)
prediction

array([[0.33635353],
       [0.03995425],
       [0.54325784],
       ...,
       [0.62608552],
       [0.03995425],
       [0.01357418]])

In [314]:
y_train.shape

(214200, 1)

In [336]:
from sklearn import linear_model

clf = linear_model.Lasso(alpha=0.00001)

clf.fit(X_train,y_train)

predictions_train = clf.predict(X_train)
predictions_train

array([ 0.99591946,  0.03995933,  0.53671192, ...,  0.39953613,
        0.03995933, -0.02815048])

# Score

In [337]:
clf.score(X_train, y_train)

0.8470610846966542

# Final prediction

In [338]:
predictions = clf.predict(X_test)
predictions

array([0.33626907, 0.03995933, 0.54295088, ..., 0.62617954, 0.03995933,
       0.01365129])

#Submission

In [339]:
sample_submission['item_cnt_month'] = predictions
sample_submission

            ID  item_cnt_month
0            0        0.336269
1            1        0.039959
2            2        0.542951
3            3        0.113648
4            4        0.039959
...        ...             ...
214195  214195        0.635668
214196  214196        0.039959
214197  214197        0.626180
214198  214198        0.039959
214199  214199        0.013651

[214200 rows x 2 columns]

In [340]:
sample_submission.to_csv('ss.csv',index = False)

In [342]:
pd.read_csv('ss.csv')

            ID  item_cnt_month
0            0        0.336269
1            1        0.039959
2            2        0.542951
3            3        0.113648
4            4        0.039959
...        ...             ...
214195  214195        0.635668
214196  214196        0.039959
214197  214197        0.626180
214198  214198        0.039959
214199  214199        0.013651

[214200 rows x 2 columns]